<h3 class="text-center">Obtener informaciòn de un observable</h3>

<div class="clear"></div>
<p class="text-center">{{getJson | json}}</p>

<div class="clear"></div>
<h3 class="text-center">subject: </h3>

<div class="clear"></div>
<p class="text-center">{{getSubject}}</p>

<div class="clear"></div>
<h3 class="text-center">behaviorSubject: </h3>

<div class="clear"></div>
<p class="text-center">Valor behaviorSubject {{valueBehaviorSubject}}</p>
<p class="text-center">Valor behaviorSubject suscribe {{getBehaviorSubject}}</p>