<div class="container">
  <nav class="breadcrumb">
    <a class="breadcrumb-item" routerLinkActive="active" [routerLink]="['/directivas']">Directivas</a>
    <a class="breadcrumb-item" routerLinkActive="active" [routerLink]="['/parametros/', 3]">rutas</a>
    <a class="breadcrumb-item" routerLinkActive="active" [routerLink]="['/formularios/']">formularios</a>
    <a class="breadcrumb-item" routerLinkActive="active" [routerLink]="['/pipes/']">Pipes</a>
  </nav>

  <router-outlet></router-outlet>
  <h1>
    base: 
    {{location.path()}}
  </h1>
</div>