ul {
  list-style-type: none;
  padding: 0;
}

li {
  width: 120px;
  margin: 10px;
  display: block;
  padding: 0 10px;
  cursor: pointer;
  overflow: hidden;
  line-height: 50px;
  border-radius: 4px;
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #eee;
}
