<button (click)="add()">Agregar</button>

  <h2 class="center-text">Opacity</h2>
  <ul>
    <li *ngFor="let item of list" 
      [ngStyle]="{'transition-delay': '2s'}"
      [@opacityIn]="'in'"
      (@opacityIn.start)="animationStarted($event)"
      (@opacityIn.done)="animationDone($event)"> {{ item.first_name }} </li>
  </ul>
  <h2 class="center-text">Height</h2>
  <ul>
    <li *ngFor="let item of list" 
      [ngStyle]="{'transition-delay': '2s'}"
      [@heightIn]="'in'"
      (@heightIn.start)="animationStarted($event)"
      (@heightIn.done)="animationDone($event)"> {{ item.first_name }} </li>
  </ul>
