
<div class="clear"></div>
<h2 class="text-center">Tipos de data streaming: </h2>
<div class="clear"></div>
<div class="clear"></div>

<h3 class="text-center">Eventos: </h3>
<div class="clear"></div>
<input type="text" class="seekName" #nameView >
<div class="clear"></div>
<div class="clear"></div>

<h3 class="text-center">Arrays y objetos: </h3>
<div class="clear"></div>
<p>Array</p>
<div class="clear"></div>

<h3 class="text-center">Observadores desde promesas: </h3>
<div class="clear"></div>
<p>Array</p>
<div class="clear"></div>
<div class="clear"></div>

<h3 class="text-center">Operadores: </h3>

<div class="clear"></div>
<h3 class="text-center">Map</h3>
<p class="text-center">{{getMap | json}}</p>

<div class="clear"></div>
<div class="clear"></div>
<h3 class="text-center">Erro</h3>
<p class="text-center">{{getError}}</p>

<div class="clear"></div>
<div class="clear"></div>
<h3 class="text-center">Do</h3>
<p class="text-center">{{getWhitDo}}</p>
<p></p>