/* You can add global styles to this file, and also import other style files */

.bkDarkBlue{
    background: #193441;
}
.bkBlue{
    background: #3E606F;
}
.bkDarkGreen{
    background: #91AA9D;
}
.bkGreen{
    background: #D1DBBD;
}


.colorDarkBlue{
    color: #193441;
}
.colorBlue{
    color: #3E606F;
}
.colorDarkGreen{
    color: #91AA9D;
}
.colorGreen{
    color: #D1DBBD;
}
.colorOrange{
    color: orange;
}
.colorGrey{
    color: grey;
}
.colorWhite{
    color: white;
}
.pointer{
    cursor: pointer;
}

.loading {
    top: 0;
    left: 0;
    opacity: 0; 
    width: 100%;
    z-index: -1; 
    height: 100%;
    display: flex;
    position: fixed;
    color: #E1E6FA;
    align-items: center;
    background: rgba(18, 120, 153, 0.86);
    justify-content: center;
    transition: opacity .3s;
}

app-root:empty + .loading, .show {
    opacity: 1;
    z-index: 100;
}